<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>Controller.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDonor</servlet-name>
        <servlet-class>Controller.LoginDonor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeSearch</servlet-name>
        <servlet-class>Controller.EmployeeSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignup</servlet-name>
        <servlet-class>Controller.UserSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInventory</servlet-name>
        <servlet-class>Controller.UpdateInventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>Controller.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryDonationAdd</servlet-name>
        <servlet-class>Controller.InventoryDonationAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Donation</servlet-name>
        <servlet-class>Controller.Donation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolunteerSearch</servlet-name>
        <servlet-class>Controller.VolunteerSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryDonationStatus</servlet-name>
        <servlet-class>Controller.InventoryDonationStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddingItemDonation</servlet-name>
        <servlet-class>Controller.AddingItemDonation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>Controller.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreviousItemDonation</servlet-name>
        <servlet-class>Controller.PreviousItemDonation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDonor</servlet-name>
        <url-pattern>/LoginDonor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeSearch</servlet-name>
        <url-pattern>/EmployeeSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignup</servlet-name>
        <url-pattern>/UserSignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInventory</servlet-name>
        <url-pattern>/UpdateInventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryDonationAdd</servlet-name>
        <url-pattern>/InventoryDonationAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolunteerSearch</servlet-name>
        <url-pattern>/VolunteerSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryDonationStatus</servlet-name>
        <url-pattern>/InventoryDonationStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddingItemDonation</servlet-name>
        <url-pattern>/AddingItemDonation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreviousItemDonation</servlet-name>
        <url-pattern>/PreviousItemDonation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
